h1 {
    color: rgb(255, 255, 255);
    
}

body {

    background-color: rgb(36, 60, 70);

    
    text-align: center;
    justify-content: center;
    padding: 50px;

}

.contenedor {

    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(49, 77, 88);
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 15px;
    

}
span {
    color: rgb(138, 184, 253);
    text-transform: uppercase;
}

table, thead, th {

    color: white;
}

 .sp {

    color: white;
    font-weight: bold;
}

tbody {

    color: rgb(138, 184, 253);
}